<style>
    h1 {
        color: royalblue;
        background-color: crimson;
        padding: 20px;
        text-align: center;
    }
    p{
        text-align:center;
        color:brown;

    }
    p strong{
        color:burlywood;
    }
</style>



<h1>That Is the Index Page Of Customer Controller.</h1>
<br />
<br />
<p>Made By <strong>Mubashir Idrees.</strong></p>
