<style>
    h1 {
        color: aqua;
        background-color: brown;
        padding: 20px;
        text-align: center;
    }

    p {
        text-align: center;
        color: brown;
    }

        p strong {
            color: burlywood;
        }
</style>



<h1>That Is the Details Page Of Home Controller.</h1>

<br />
<br />
<p>Made By <strong>Mubashir Idrees.</strong></p>

