<style>
    h1{
        color:red;
        background-color:beige;
        padding:20px;
        text-align:center;
    }

    p {
        text-align: center;
        color: brown;
    }

        p strong {
            color: burlywood;
        }
</style>





<h1>That Is the Index Page of Home Controller.</h1>

<br />
<br />
<p>Made By <strong>Mubashir Idrees.</strong></p>

